
body{
    padding: 10%;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: blue;
} 

a:visited{
    color: red;
}

a:hover, a:focus{
    color: dodgerblue;
    opacity: .5;
    background-color: greenyellow;
}

a:active{
    color: goldenrod;
}