
.btn{
    /* font-size:2rem ;
    font-weight:700 ;
    padding:.5em 1em ;
    border:10px solid var(--clr-accent) ;
    border-radius:5px ;
    color:var(--clr-accent) ;
    background-color:var(--clr-rgba) ;
    */

    font-size:100px;
    font-weight:700 ;
    padding:1px 1px ;
    border:5px solid black ;
    border-radius:50px ;
    color:red ;
    background-color:rgba(218, 221, 61, 0.5) ;

    /* transition-property: transform;
    transition-duration:1s ;
    transition-timing-function:ease-in ;
    transition-delay: 0s;  */

    /* transition: transform 3s,color ease-in,background-color 3s;  */
    transition: transform 2s ease-out 1s;
} 

.btn:hover{
    transform: translateY(-100px);
    color: blue;
    background-color:black;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}